#
# Recommended minimum configuration:
#

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
acl localnet src 10.0.0.0/8     # RFC1918 possible internal network
acl localnet src 172.16.0.0/12  # RFC1918 possible internal network
acl localnet src 192.168.0.0/16 # RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
{% if url_error_img == url_error_img_default %}
acl Safe_urls urlpath_regex {{ url_error_img_default }} # icon that shown on denied pages ;)
{% else %}
acl Safe_urls url_regex {{ url_error_img }} # URL to denied page's icon
{% endif %}
acl CONNECT method CONNECT

# Basic Ldap Configuration
auth_param basic program  /usr/lib64/squid/basic_ldap_auth -b {{ customerou }} -h  {{ ldaphost }}
auth_param basic children 10
auth_param basic realm Web-Proxy
auth_param basic credentialsttl 1 minute

# Ldap groups analysys
external_acl_type ldap_users %LOGIN /usr/lib64/squid/ext_ldap_group_acl  -b {{ customerou }} -h {{ ldaphost }}   -f "(&(objectclass=groupOfUniqueNames)(cn=%a)(uniqueMember=uid=%v,{{ customerou }}))"

# Deny acces for all non authorized users
acl ldap-auth proxy_auth REQUIRED
http_access deny !ldap-auth

#
# Recommended minimum Access Permission configuration:
#
# Allow urls that used to shown the icons on error pages
http_access allow Safe_urls

# Deny requests to certain unsafe ports
http_access deny !Safe_ports


# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
http_access allow localhost manager
http_access deny manager

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
#http_access deny to_localhost

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

include /etc/squid/conf.d/*.conf


# Example rule allowing access from your local networks.
# Adapt localnet in the ACL section to list your (internal) IP networks
# from where browsing should be allowed
http_access allow localnet
http_access allow localhost


# And finally deny all other access to this proxy
http_access deny all

# Place here customized error pages in case of access denied
deny_info 403:ERR_ACCESS_DENIED all
deny_info 404:ERR_ACCESS_DENIED all

# Squid normally listens to port 3128
http_port 3128

# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/spool/squid 100 16 256

# Leave coredumps in the first cache dir
coredump_dir /var/spool/squid

#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320



